* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

input {
  width: 220px;
}

.Layout {
  main {
    margin-bottom: 16px;
    position: relative;
    padding: 5%;
  }

  footer {
    position: fixed;
    padding: 8px 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
